body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

.button-container {
    margin-top: 20px;
}

button {
    width: 100px;
    padding: 10px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    background-color: gainsboro;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

header {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #f0f0f0;
}

#container {
    padding: 20px;
    transition: margin-left 0.3s;
}

.content {
    margin: auto;
    padding: 10%;
    background-color: azure;
    font: 1.2em sans-serif;
    text-align: center;
}

.content select {
    width: 70%;
    max-width: 200px;
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 10px;
}

.content input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.login-form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #ddd;
}

.tile {
    background-color: #ddd;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 1px;
    line-height: 50px;
    font-size: 16px;
    margin: 16px;
  }

  .blank {
    color: #ddd;
  }

  .toggled {
    background-color: aqua;
  }

  .input.tile {
    border: solid black;
  }