<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <script src="../static/scripts.js"></script>
    </head>
    <body>
        <select id="redirectDropdown" onchange="redirectToSelected('redirectDropdown')">
            <option value="">Go to page:</option>
            {% if not username %}
                <option value="/login">Login</option>
                <option value="/signup">Sign Up</option>
            {% endif %}
            {% if username %}
                <option value="/profile">Profile</option>
                <option value="/friends">Friends</option>
                <option value="/game">Play</option>
                <option value="/logout">Logout</option>
            {% endif %}
        </select>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>

<script>
    // Close the alert when the close button is clicked
    document.addEventListener('DOMContentLoaded', function() {
        var closeButtons = document.querySelectorAll('.alert .close');
        closeButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var alert = this.parentNode;
                alert.parentNode.removeChild(alert);
            });
        });
    });
</script>